# Created by .ignore support plugin (hsz.mobi)
### QApi template
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.document/
# Visual Studio Code related
.vscode/


# MAC OS
.DS_Store

# Composer
/vendor
/Log
composer.lock

# Framework
/runtime
